{% if current_user.is_authenticated %}
<article>
    <div><a href="/logout">Logout</a></div>
    <div>
        <a href='/you'>Home</a>
        <h3> Hi, {{ current_user.uname }}</h3>
        <h6 id="email" data-value="{{ current_user.email }}">{{ current_user.email }}</h6>
        <div id="routing">
            <router-view></router-view>
        </div>
        
    </div>
    <footer>
        <div><router-link to="/about">About us</router-link></div>
        <div><router-link to="/contactus">Contact us</router-link></div>
    </footer>
</article>
{% else %}
<article>
    <div><a href="/tokenlogin">Login</a></div>
    <div><a href="/register">Register</a></div>
    
    <div id="routing">
        <router-view></router-view>
    </div>
    
    <footer>
        <div><router-link to="/about">About us</router-link></div>
        <div><router-link to="/contactus">Contact us</router-link></div>
    </footer>
</article>
{% endif %}